* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  color-scheme: light dark;
}
body {
  background-color: light dark(#fff, #444);
}
.logo {
  width: 60px;
  height: 60px;
  border-radius: 20%;
  border: 1px solid #f5d76e;
}
nav {
  display: flex;
  margin: 5px;
}
.navlist {
  border: 1px solid #f5d76e;
  background: linear-gradient(90deg, #3b1d60, #2f3b70);
  padding: 5px;
  margin-left: 5px;
  border-radius: 15px;
}
.d1 {
  width: 100%;
  height: 100vh;
}

ul {
  width: 100%;
  display: flex;
}

li {
  padding: 15px;
  list-style: none;
}
a {
  text-decoration: none;
  color: #f5d76e;
  padding: 2px;
  /* aeefff f0f0f0 f5d76e */
  text-shadow: 0 0 3px #f5d76e;
}
a:hover {
  background-color: #f5d76e;
  color: #3b1d60;
  text-shadow: 0 0 2px #3b1d60;
  border-radius: 7px;
}
.main-cont {
  width: 100%;
  margin: 20px;
  display: flex;
  justify-content: center;
}
