* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  letter-spacing: 0.2px;
}
body {
  background: linear-gradient(to bottom, #faf4e6, #f5ecd9, #ede0c8);
  background-attachment: fixed;
}
.logo {
  width: 60px;
  height: 60px;
  border-radius: 20%;
  border: 1px solid #f5d76e;
  box-shadow: 0 2px 6px grey;
}
.logo:hover {
  filter: drop-shadow(0 0 8px #f5d76e);
  transform: scale(1.05);
  transition: 0.3s ease;
}
nav {
  display: flex;
  margin: 5px;
  align-items: center;
  margin-top: 10px;
}
.navlist {
  border: 1px solid #f5d76e;
  background: linear-gradient(to right, #3b1d60, #2f3b70);
  box-shadow: 0 2px 6px grey;
  padding: 5px;
  margin-left: 5px;
  border-radius: 15px;
}

.d1 {
  width: 100%;
  /* height: 100vh; */
}

.navlist {
  width: 100%;
  display: flex;
}

li {
  padding: 15px;
  list-style: none;
}
.navlist a {
  text-decoration: none;
  color: #f5d76e;
  padding: 2px;
  /* text-shadow: 0 0 1px #f5d76e; */
  transition: 0.3s ease;
  /* border-radius: 6px; */
}
.navlist a:hover {
  background-color: #f5d76e;
  color: #000000;
  text-shadow: 0 0 2px #000000;
  border-radius: 6px;
  padding: 2px;
  background-color: #f5d76e;
  box-shadow: 0 0 12px #f5d76e;
}
.main_heading1 {
  padding: 10px;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 15px;
  margin-right: 15px;
  border-radius: 19px;
  box-sizing: border-box;
  box-shadow: 0 0 9px grey;
  border: 1px solid yellow;
}

.main_heading1 h1 {
  color: #322301;
  text-shadow: 0 0 12px #f5d76e;
  text-align: center;
}

.main_heading1 h2 {
  color: #322301;
  padding-top: 8px;
  padding-bottom: 20px;
  text-shadow: 0 0 10px #f5d76e;
  text-align: center;
}

.paraStyle1 {
  max-width: 900px;
  text-align: center;
  margin: auto;
  font-size: 15px;
}

.elementalSection {
  margin: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 19px;
  box-shadow: 0 0 9px grey;
  border: 1px solid yellow;
}
.elementalSection h1 {
  color: #322301;
  text-shadow: 0 0 6px #f5d76e;
  text-align: center;
  padding-bottom: 10px;
  padding-top: 10px;
}
.baseElem {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 30px;
  padding-top: 30px;
  flex-wrap: wrap;
}

.elemcard {
  background: linear-gradient(to bottom, #3b1d60, #2f3b70);
  padding: 0;
  max-width: 250px;
  border-radius: 19px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid yellow;
  box-shadow: 0 0 2px grey;
}
.elemcard p {
  align-self: flex-start;
  padding-left: 20px;
  padding-right: 5px;
  padding-bottom: 5px;
}

.elemImages {
  border-radius: 100%;
  padding: 15px;
}

.elem1 {
  background: linear-gradient(45deg, #8b0000, #ff4500, #ffd700);
  color: #ffd700;
}
.elem2 {
  background: linear-gradient(45deg, #008080, #1e90ff, #e0ffff);
  color: #bdecec;
}
.elem3 {
  background: linear-gradient(45deg, #5c4033, #556b2f, #a9a9a9);
  color: #8fbc8f;
}
.elem4 {
  background: linear-gradient(45deg, #b0e0e6, #f8f8ff, #e6e6fa);
  color: #4b0082;
}
.elem5 {
  background: linear-gradient(45deg, #aa7b3d, #efb930, #e7872c);
  color: #1a1a1a;
}
.elem1 img:hover {
  box-shadow: 0 0 20px #f5d76e, inset 0 0 20px #f5d76e;
}
.elem2 img:hover {
  box-shadow: 0 0 20px #a4f4f9, inset 0 0 20px #a4f4f9;
}
.elem3 img:hover {
  box-shadow: 0 0 20px #f1ba6d, inset 0 0 20px #f1ba6d;
}
.elem4 img:hover {
  box-shadow: 0 0 20px #78bff9, inset 0 0 20px #78bff9;
}
.elem5 img:hover {
  box-shadow: 0 0 20px #b86002, inset 0 0 20px #b86002;
}

.cards_container2 {
  padding: 15px;
  /* border: 1px solid yellow; */
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  /* justify-content: space-around; */
}

.card,
.card2 {
  width: 30%;
  border: 1px solid yellow;
  border-radius: 19px;
  box-shadow: 0 0 12px grey;
  padding: 10px;
}

.d2 {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  width: 100%;
  display: flex;
  color: #2f2101;
}
.cardimg {
  width: 130px;
}

.card a {
  text-decoration: none;
  color: #2f2101;
  padding: 10px;
  background: linear-gradient(to right, #3b1d60, #2f3b70);
  color: #f5d76e;
  display: block;
  justify-self: flex-end;
  border-radius: 19px;
  box-shadow: 0 0 8px grey;
  border: 1px solid yellow;
}

.about_card {
  margin: auto; /*important*/
  background: linear-gradient(to right, #3b1d60, #2f3b70);
  padding: 10px;
}
.secPara {
  color: #f5d76e;
}
.about_card a {
  text-decoration: none;
  color: #2f2101;
  padding: 8px;
  border-radius: 19px;
  background: #f5d76e;
  display: block;
  justify-self: flex-end;
  border: 1px solid yellow;
  box-shadow: 0 0 6px #f5d76e;
}
.admission_card {
  margin-left: auto; /*important*/
}

.navbar2 {
  display: none;
}

/* cources page css starts here*/

.sub-cont {
  width: 100%;
  margin-top: 25px;
}
.flex1 {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.samestyle1 {
  width: 40%;
  border: 1px solid yellow;
  box-shadow: 0 0 6px grey;
  border-radius: 15px;
  margin: 20px;
}
.samestyle1 h3 {
  color: #2f2101;
  padding: 15px 15px 0 15px; /* padding: top right bottom left*/
}
.samestyle1 h4 {
  font-weight: normal;
  padding: 2px 0 15px 15px;
}
.samestyle1 p {
  padding: 0 15px 5px 15px;
}
.elempng1 {
  display: flex;
  justify-content: space-around;
}
.year3 {
  /* width: 100%; */
  border: 1px solid yellow;
  box-shadow: 0 0 3px gray;
  border-radius: 19px;
  gap: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 55px;
  margin-left: 55px;
}
.year3 h3 {
  text-align: center;
  color: #2f2101;
  padding: 25px 0 5px 0;
}
.flex2 {
  display: flex;
  /* border: 1px solid black; */
  width: 100%;
  justify-content: space-around;
  flex-direction: column;
  padding: 10px 50px 10px 50px;
  flex-wrap: wrap;
}
.courseY3 {
  width: 40%;
  border: 1px solid yellow;
  padding: 15px 15px 15px 15px; /*  purpose to remember the style as top right bottom left*/
  margin: 15px;
  border-radius: 15px;
  box-shadow: 0 0 6px gray;
}
.courseY3 p {
  padding: 7px 0 7px 0;
}
.specializationStyle2 {
  margin-left: auto;
  background: linear-gradient(to right, #3b1d60, #2f3b70);
  color: #f5d76e;
}

/*  About page css below from now on */
.aboutbox {
  /* margin: 25px; */
  padding: 50px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}
.aboutbox h3 {
  padding-bottom: 10px;
}
.aboutbox p {
  margin-left: 40px;
  width: 90%;
  padding-bottom: 15px;
  text-align: justify;
}
.aboutcard2 {
  color: #f5d76e;
  background: linear-gradient(to right, #3b1d60, #2f3b70);
  padding: 20px;
  padding-left: 25px;
  margin-left: 15px;
  border-radius: 15px;
  border: 1px solid yellow;
  box-shadow: 0 0 9px grey;
}
.aboutcard3 {
  /* background: linear-gradient(to bottom, #faf4e6, #f5ecd9, #ede0c8); */
  padding: 20px;
  padding-left: 25px;
  margin-left: 15px;
  border-radius: 15px;
  margin-top: 25px;
  margin-bottom: 25px;
  box-shadow: 0 0 9px grey;
}
.aboutclosing {
  padding-bottom: 40px;
  font-size: 20px;
  color: #2f2101;
  text-align: center;
}
@media (max-width: 1024px) {
  .elem3 {
    margin-top: 50px;
  }

  .rescard {
    width: 50%;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .samestyle1 {
    margin: 10px;
  }
}

@media (max-width: 767px) {
  .navbar {
    display: none;
  }
  .navbar2 {
    display: flex;
  }
  .nav-parent {
    width: 100%;
    color: #f5d76e;
    background: linear-gradient(to right, #3b1d60, #2f3b70);
    border: 1px solid yellow;
    border-radius: 15px;
    margin-left: 4px;
    padding-left: 5px;
  }
  .parentPage:hover .navlist2 {
    display: block;
    background: linear-gradient(to right, #3b1d60, #2f3b70);
    border-radius: 19px;
    width: 40%;
  }
  .logo {
    width: 50px;
    height: 50px;
  }
  .navlist2 {
    display: none;
    position: absolute;
    top: 65px;
    left: 65px;
    border: 1px solid yellow;
  }
  .navlist2 a {
    text-decoration: none;
    color: #f5d76e;
    /* text-shadow: 0 0 1px #f5d76e; */
  }
  .navlist2 li {
    width: 100%;
    margin-top: -4px;
    justify-content: space-around;
  }
  .elem2 {
    margin-top: 50px;
  }
  .elem5 {
    margin-top: 50px;
  }
  .rescard {
    width: auto;
    margin-top: 20px;
  }
  .samestyle1 {
    width: 100%;
  }
  .courseY3 {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  .year3 {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 0;
    padding-bottom: 0;
  }
  .clearsidemargin {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;

    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}
