* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  letter-spacing: 0.2px;
}
body {
  background: linear-gradient(to bottom, #faf4e6, #f5ecd9, #ede0c8);
  background-attachment: fixed;
}
.logo {
  width: 60px;
  height: 60px;
  border-radius: 20%;
  border: 1px solid #f5d76e;
  box-shadow: 0 2px 6px grey;
}
.logo:hover {
  filter: drop-shadow(0 0 8px #f5d76e);
  transform: scale(1.05);
  transition: 0.3s ease;
}
nav {
  display: flex;
  margin: 5px;
  align-items: center;
  margin-top: 10px;
}
.navlist {
  border: 1px solid #f5d76e;
  background: linear-gradient(to right, #3b1d60, #2f3b70);
  box-shadow: 0 2px 6px grey;
  padding: 5px;
  margin-left: 5px;
  border-radius: 15px;
}
.d1 {
  width: 100%;
  /* height: 100vh; */
}

ul {
  width: 100%;
  display: flex;
}

li {
  padding: 15px;
  list-style: none;
}
.navlist a {
  text-decoration: none;
  color: #f5d76e;
  padding: 2px;
  text-shadow: 0 0 3px #f5d76e;
  transition: 0.3s ease;
  /* border-radius: 6px; */
}
.navlist a:hover {
  background-color: #f5d76e;
  color: #000000;
  text-shadow: 0 0 2px #000000;
  border-radius: 6px;
  padding: 2px;
  background-color: #f5d76e;
  box-shadow: 0 0 12px #f5d76e;
}
.main_heading1 {
  padding: 10px;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 15px;
  margin-right: 15px;
  border-radius: 19px;
  box-sizing: border-box;
  box-shadow: 0 0 9px grey;
  border: 1px solid yellow;
}

.main_heading1 h1 {
  color: #322301;
  text-shadow: 0 0 12px #f5d76e;
  text-align: center;
}

.main_heading1 h2 {
  color: #322301;
  padding-top: 8px;
  padding-bottom: 20px;
  text-shadow: 0 0 10px #f5d76e;
  text-align: center;
}

.main_heading1 p {
  max-width: 900px;
  text-align: center;
  margin: auto;
  font-size: 15px;
}

.elementalSection {
  margin: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 19px;
  box-shadow: 0 0 9px grey;
  border: 1px solid yellow;
}
.elementalSection h1 {
  color: #322301;
  text-shadow: 0 0 6px #f5d76e;
  text-align: center;
  padding-bottom: 10px;
  padding-top: 10px;
}
.baseElem {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 30px;
  padding-top: 30px;
  flex-wrap: wrap;
}

.elemcard {
  background: linear-gradient(to bottom, #3b1d60, #2f3b70);
  padding: 0;
  max-width: 250px;
  border-radius: 19px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.elemcard p {
  align-self: flex-start;
  padding-left: 20px;
  padding-right: 5px;
  padding-bottom: 5px;
  color: #f5d76e;
}

.elemImages {
  border-radius: 100%;
  padding: 15px;
}

.elem1 img:hover {
  box-shadow: 0 0 20px #f5d76e, inset 0 0 20px #f5d76e;
}

.elem2 img:hover {
  box-shadow: 0 0 20px #a4f4f9, inset 0 0 20px #a4f4f9;
}
.elem3 img:hover {
  box-shadow: 0 0 20px #dbaf72, inset 0 0 20px #dbaf72;
}
.elem4 img:hover {
  box-shadow: 0 0 20px #dbefff, inset 0 0 20px #dbefff;
}
.elem5 img:hover {
  box-shadow: 0 0 20px #f6c32a, inset 0 0 20px #f6c32a;
}
.cards_container2 {
  padding: 15px;
  /* border: 1px solid yellow; */
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  /* justify-content: space-around; */
}

.cards_container2 div {
  width: 30%;
  border: 1px solid yellow;
  border-radius: 19px;
  box-shadow: 0 0 12px grey;
}

.d2 {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  width: 100%;
  display: flex;
  color: #2f2101;
}
.cardimg {
  width: 130px;
}

.card {
  padding: 10px;
}

.card a {
  text-decoration: none;
  color: #2f2101;
  padding: 10px;
  background: linear-gradient(to right, #3b1d60, #2f3b70);
  color: #f5d76e;
  display: block;
  justify-self: flex-end;
  border-radius: 19px;
  box-shadow: 0 0 8px grey;
  border: 1px solid yellow;
}

.about_card {
  margin: auto; /*important*/
  background: linear-gradient(to right, #3b1d60, #2f3b70);
  padding: 10px;
}
.secPara {
  color: #f5d76e;
}
.about_card a {
  text-decoration: none;
  color: #2f2101;
  padding: 8px;
  border-radius: 19px;
  background: #f5d76e;
  display: block;
  justify-self: flex-end;
  border: 1px solid yellow;
  box-shadow: 0 0 6px #f5d76e;
}
.admission_card {
  margin-left: auto; /*important*/
}
